---
layout: default

---

{% assign sorted_news = site.data.news | sort: 'date' | reverse %}


<div class="container-fluid" style="position: relative">
  <div class="col-md-3 news">
    <h2>News</h2>
    <ul>
    {% for news in sorted_news limit:5 %}
      <li><div class="date">{{ news.date | date: '%B %d, %Y' }}:</div>
        <div class="blurb">
          {% if news.url == nil %}
          {{ news.blurb }}
          {% else %}
          <a href="{{ news.url }}">{{ news.blurb }}</a>
          {% endif %}
          </div></li>
    {% endfor %}
    </ul>
    <a href="{{site.base_url}}/news/">(More news...)</a>
  </div>
</div>

<div class="container-fluid">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url({{site.base_url}}/images/slider/hemaapp.png)"></div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url({{site.base_url}}/images/slider/bilicam.jpg)"></div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url({{site.base_url}}/images/slider/spirocall.jpg)"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>The Ubiquitous Computing Lab develops innovative sensing systems for real world applications in <b>health</b>, <b>sustainability</b>, and <b>novel interactions</b>.</h3>
  </div>
</div>

<div class="row">
<div class="col-xs-12">
The Ubiquitous Computing (UbiComp) research lab, led by Prof. Shwetak Patel,
focuses on many areas of ubiquitous computing including novel user interface
technology, health sensing, activity recognition, low-power sensing, and energy
sensing by applying expertise in sensing, signal processing, embedded systems,
circuits, and human-computer interaction. The UbiComp lab consists of an
interdisciplinary team of investigators that tackle challenging research problems
both from building the enabling hardware and software systems to the deployment
and evaluation of these technologies in real-world settings, especially around
health. We collaborate very closely with UW Professors in the Paul G. Allen
School of Computer Science &amp; Engineering, Department of Electrical and Computer
Engineering, and School of Medicine. In addition, we have close collaborations
with Google, Microsoft Research, the Bill &amp; Melinda Gates Foundation, Intel,
Facebook, and many other companies.
</div>
</div>


<h1>Recent Projects</h1>
{% assign sorted_pubs = site.publications | sort: 'date' | reverse | slice: 0, 4 %}
<div class="row publication-badge">
{% for pub in sorted_pubs %}
  {% if pub.thumbnail.size > 0 %}
  <div class="publication-pic col-md-3 col-sm-3 col-xs-12">
    <a href="{{ pub.url }}"><img src="{{ pub.thumbnail }}"/></a>
    <span class="badge badge-health">health</span>
    <span>{{ pub.title }}</span>
  </div>
  {% endif %}
{% endfor %}
</div>

{% assign sorted_pubs1 = site.publications | sort: 'date' | reverse | slice: 4, 4 %}
<div class="row publication-badge">
{% for pub in sorted_pubs1 %}
  {% if pub.thumbnail.size > 0 %}
  <div class="publication-pic col-md-3 col-sm-3 col-xs-12">
    <a href="{{ pub.url }}"><img src="{{ pub.thumbnail }}"/></a>
    <span class="badge badge-interaction">ix</span>
    <span>{{ pub.title }}</span>
  </div>
  {% endif %}
{% endfor %}
</div>



<script>
$(document).ready(function(){

  $('.bxslider').bxSlider({
    adaptiveHeight: false,
    speed: 500,
    captions: true,
    auto: true,
    pause: 5000,
    autoControls: true
    });
});
</script>
