---
layout: default

---

<!--<script type="text/javascript" src="{{ site.baseurl }}/bower_components/slick-carousel/slick/slick.min.js"></script>-->

<div class="row">
  <div class="col-sm-8">
    <h3>This is our mission statement</h3>
  </div>
  
</div>

<div class="row">
  <div class="col-sm-8">
<!--    <div class="slick-slider">
      <div><img class="slick-slider-img" src="{{site.publications[3].image}}"/></div>
      <div><img class="slick-slider-img" src="{{site.publications[1].image}}"/></div>
      <div><img class="slick-slider-img" src="{{site.publications[2].image}}"/></div>
    </div>-->

    <ul class="bxslider">
      <li><img src="{{site.base_url}}/images/pubs/eyecontact.jpg" /></li>
      <li><img src="{{site.base_url}}/images/pubs/hypercam.jpg" /></li>
    </ul>
  </div>
  
  <div class="col-sm-4">
    <h2>News</h2>
    <ul>
    {% for news in site.data.news %}
      <li><div class="date">{{ news.date | date: '%B %d, %Y' }}</div>
        <div class="blurb">
          {% if news.url == nil %}
          {{ news.blurb }}
          {% else %}
          <a href="{{ news.url }}">{{ news.blurb }}</a>
          {% endif %}
          </div></li>
    {% endfor %}
    </ul>
  </div>
  
  
</div>

<div class="row">
  <div class="col-xs-12">
The ubiquitous computing (UbiComp) research lab, led by Prof. Shwetak Patel, focuses on many areas of ubiquitous computing including novel user interface technology, energy sensing, low-power sensing, health monitoring, and activity recognition by applying expertise in sensing, signal processing, embedded systems, circuits, and human-computer interaction.
The ubicomp lab consists of an interdisciplinary team of students (CS, EE, CE, ME), etc. to tackle challenging research problems both from building the enabling hardware to the deployment and evaluation of these technologies in real-world settings.
We collaborate very closely with UW Professors: Matt Reynolds (EE, CSE), Josh Smith (EE, CSE), Yoshi Kohno (CSE), James Fogarty (CSE), Les Atlas (EE), and Brian Otis (EE). In addition, we have close collaborations with Microsoft Research, and the Intel Science and Technology Center for Pervasive Computing.
Undergraduates and Masters students interested in conducting research in the Ubicomp lab must fill out an application at least two weeks before the start of the quarter during the academic year. Summer applicants must apply by April 15. Ubicomp Lab Research Application
    </div>
</div>

<script>
$(document).ready(function(){

  $('.bxslider').bxSlider({
    adaptiveHeight: true
    });
});
</script>
