.bx-wrapper img {
  width: 100%;
}


.news {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.65);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  color: white;
}

.badge-health {
  background-color: #0d6efd!important
}

.badge-interaction {
  background-color: #ffc107!important
}

.news>h2, .news>ul>li>.date {
  color: white;
}

.news>ul>li>.blurb>a, .news>a {
  color: #b7dbff
}

.blurb {
    color: white;
}


.carousel, .carousel-inner, .carousel-inner .item {
    height: 500px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .carousel-inner>.item>.fill {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}
