.member-badge {
  display: block;
  .details {
    height: 150px;
    font-size: 10pt;
    .name {
      font-size: 16pt;
      display: block;
    }
    .email {
    }
    .affiliation {
    }
  
  }
}