.member-badge {
  display: block;
  .image {
    img {
      height: 262.5px;
      width: 262.5px;
    }
  }
  .details {
    height: 150px;
    font-size: 10pt;
    .name {
      font-size: 16pt;
      display: block;
    }
    .email {
    }
    .affiliation {
    }

  }
}
