.citation {
  display: block;
  small {
    p {
    line-height: 1.2;
    }
  }
}

.publication-badge {
  margin-bottom: 20px;
  .publication-pic {
    a {
      display: block;
      border-radius: 10px;
      overflow: hidden;
      @media (min-width: 768px){
        max-width: 150px;
      }
      img {

        width: 100%;
        max-width: 250px;
        margin: auto;
        vertical-align: middle;
        @media (min-width: 768px){
          //max-width: 150px;
        }
      }
    }
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .btn {
    //width: 70px;
    margin-top: 5px;
    //text-align:left;
  }
}

.publication {
  .image-holder {
    max-height: 300px;
    img {
      max-height: inherit;
    }
  }
}

h2 {
  margin-bottom: 0; 
  padding-bottom: 0;
  line-height: 1.2;
}

p {
  margin-top: 0; padding-top: 0;
}

code {
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: normal;
}